In [4]:
#This notebook extracts data from the weather website in json form. There on it normalizes the data and displays in a table. 
from pandas import Series,DataFrame
import pandas as pd
import urllib, json
from pandas.io.json import json_normalize

In [2]:
url = "http://api.openweathermap.org/data/2.5/forecast?q=London,uk&mode=json&appid=618ccea85118db5694a46720437ba07c"
response = urllib.urlopen(url)
data = json.loads(response.read())
l = [d for d in data['list']]

In [3]:
t1 = json_normalize(l) #Normalizes all data except the weather columns. The weather columns has to be normalized seperately
#and is done from t3 onwards.

In [4]:
t2 = t1[[('main.temp'),('main.temp_max'),('main.temp_min'),('main.humidity'),('rain.3h'),('wind.speed')]] 
#selecting the necessary columns from the normalized table above (t1)

In [5]:
t3 = json_normalize(l, 'weather','dt_txt') #Normlizes weather column and displays with time

In [6]:
t4 =t3[[('dt_txt'),('description')]] #Only displayes weather description and time, can be changed if needed

In [7]:
result = pd.concat([t4, t2],axis=1, join='inner') #concatinates the two normalised tables with the required columns

In [8]:
result

,dt_txt,description,main.temp,main.temp_max,main.temp_min,main.humidity,rain.3h,wind.speed
0,2016-09-20 12:00:00,light rain,290.100,290.100,288.515,97,0.815,1.76
1,2016-09-20 15:00:00,light rain,290.320,290.320,289.139,95,0.785,1.57
2,2016-09-20 18:00:00,light rain,289.470,289.470,288.684,95,0.040,1.21
3,2016-09-20 21:00:00,broken clouds,287.820,287.820,287.428,93,NaN,1.22
4,2016-09-21 00:00:00,scattered clouds,285.768,285.768,285.768,87,NaN,1.66
5,2016-09-21 03:00:00,light rain,284.485,284.485,284.485,92,0.020,1.17
6,2016-09-21 06:00:00,light rain,284.383,284.383,284.383,90,0.070,1.76
7,2016-09-21 09:00:00,light rain,288.619,288.619,288.619,95,0.060,2.21
8,2016-09-21 12:00:00,light rain,290.743,290.743,290.743,85,0.060,2.37
9,2016-09-21 15:00:00,light rain,291.037,291.037,291.037,80,0.110,2.61
10,2016-09-21 18:00:00,light rain,289.435,289.435,289.435,78,0.010,2.21
11,2016-09-21 21:00:00,scattered clouds,285.655,285.655,285.655,95,NaN,2.53
12,2016-09-22 00:00:00,scattered clouds,283.539,283.539,283.539,98,NaN,1.41
13,2016-09-22 03:00:00,broken clouds,284.025,284.025,284.025,91,NaN,2.41
14,2016-09-22 06:00:00,light rain,286.658,286.658,286.658,97,0.050,2.81
15,2016-09-22 09:00:00,light rain,288.911,288.911,288.911,96,0.550,2.86
16,2016-09-22 12:00:00,light rain,291.879,291.879,291.879,80,0.010,3.47
17,2016-09-22 15:00:00,overcast clouds,290.866,290.866,290.866,75,NaN,4.11
18,2016-09-22 18:00:00,broken clouds,289.603,289.603,289.603,74,NaN,3.67
19,2016-09-22 21:00:00,clear sky,288.200,288.200,288.200,77,NaN,3.47
20,2016-09-23 00:00:00,light rain,286.684,286.684,286.684,93,0.030,3.57
21,2016-09-23 03:00:00,light rain,283.889,283.889,283.889,91,0.010,2.71
22,2016-09-23 06:00:00,clear sky,282.861,282.861,282.861,99,NaN,2.41
23,2016-09-23 09:00:00,clear sky,287.516,287.516,287.516,84,NaN,1.80
24,2016-09-23 12:00:00,clear sky,290.091,290.091,290.091,75,NaN,2.67
25,2016-09-23 15:00:00,scattered clouds,290.764,290.764,290.764,67,NaN,3.66
26,2016-09-23 18:00:00,broken clouds,289.221,289.221,289.221,69,NaN,4.12
27,2016-09-23 21:00:00,scattered clouds,288.133,288.133,288.133,78,NaN,4.11
28,2016-09-24 00:00:00,broken clouds,287.390,287.390,287.390,81,NaN,4.20
29,2016-09-24 03:00:00,light rain,288.182,288.182,288.182,78,0.010,4.31
30,2016-09-24 06:00:00,scattered clouds,288.460,288.460,288.460,72,NaN,5.56
31,2016-09-24 09:00:00,overcast clouds,289.615,289.615,289.615,70,NaN,6.92
32,2016-09-24 12:00:00,broken clouds,290.722,290.722,290.722,67,NaN,8.21
33,2016-09-24 15:00:00,light rain,291.754,291.754,291.754,72,0.470,9.41
34,2016-09-24 18:00:00,light rain,291.811,291.811,291.811,80,0.450,8.58
35,2016-09-24 21:00:00,light rain,290.322,290.322,290.322,89,0.550,4.91

In [9]:
#####################################END OF WEATHER DATA#################################################

In [62]:
#Now I am going to combine with twitter data
import pyodbc
#cnx = pyodbc.connect('DSN=kubricksql')
#cursor = cnx.cursor()
#getcmd = "(select Tweet from dbo.TwitterStream)"
#row = cursor.execute(getcmd)
#row = cursor.fetchall()
#testlist = []
#for r in row:
#   testlist.append(json.loads(r[0])) 
from pymongo import MongoClient
client = MongoClient()
testlist = []
db = client.twitter
tweets = db.tweets
t = tweets.find()
for t in tweets.find({"timestamp_ms": {"$gt": "1474125799000"}},{"text":1, "_id":0, "timestamp_ms":1}):
    testlist.append(t)

In [63]:
frame = DataFrame(testlist)
frame

                                                   text   timestamp_ms
0     46 Reg-London Fog Mens Khaki Cold Weather Line...  1474125850817
1     46 Reg-London Fog Mens Khaki Cold Weather Line...  1474125897679
2     Parade of sailing barges going down river at 1...  1474125935833
3     What a grey cold day in London. I moved to Man...  1474125973507
4     Tallia Storm #londonfashionweek #london #talli...  1474125988925
5     RT @chris_s_ramos: Only #London's weather can ...  1474126073193
6     No 17 of 21 – it’s been glorious hot sunshine ...  1474126086360
7     Tropical London by Rancid — https://t.co/WIcQE...  1474126116816
8     All booked up for London Fashion Weekend Autum...  1474126185689
9     11am: Light Rainshower 21.2C - Feels: 29C - Wi...  1474126213807
10    Whats the whistle in the wind? Have a topic to...  1474126266621
11    Two days since the heat wave broke and I'm alr...  1474126273564
12    Kendall Jenner - Giles Show Autumn Winter 2015...  1474126360844
13    Airshow London cancelled for today; 'predictiv...  1474126367580
14    .@Tallia_Storm dressed in red &amp; black #lea...  1474126395388
15    This is good!! I want all world leaders to be ...  1474126401269
16    RT @kentkristensen1: Happy monday to you my de...  1474126405076
17    Hoping the rain holds off for tomorrow! https:...  1474126441662
18    Taking London By Storm! #Brantford #Watch #wat...  1474126475745
19    Just got back to London and its winter! What h...  1474126633971
20     had to tell the London folk about Mist yesterday  1474126635578
21    And then all over a sudden it feels like #wint...  1474126656302
22    London, please dont rain on Tuesday. Pretty pl...  1474126730271
23    #London Sep 17 16:20 Temperature 16C overcast ...  1474126756122
24    We own the night: London's stunning alt-drag i...  1474126777335
25    @andysignore @MurrellDan watching London Has F...  1474126784502
26    RT @TomPodolec: Airshow London cancelled for t...  1474126791054
27    RT @TomPodolec: Airshow London cancelled for t...  1474126792058
28    RT @TomPodolec: Airshow London cancelled for t...  1474126811826
29    London Fashion Week 2016: House Of Holland SS1...  1474126826391
...                                                 ...            ...
4552  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378815
4553  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378818
4554  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378880
4555  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378830
4556  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378879
4557  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378881
4558  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378878
4559  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378902
4560  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378834
4561  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378878
4562  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378881
4563  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378878
4564  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378879
4565  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378886
4566  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378879
4567  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378898
4568  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378879
4569  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378882
4570  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378896
4571  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378883
4572  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378878
4573  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378816
4574  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378909
4575  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378885
4576  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378883
4577  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378884
4578  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378884
4579  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378886
4580  RT @zkartalofficial: Zeynep Kartal London Spri...  1474366378879
4581  @theohurts you should get used to the british ...  1474366388762

[4582 rows x 2 columns]

In [64]:
from nltk.corpus import stopwords
from collections import Counter
from stop_words import get_stop_words

In [65]:
stop_words = get_stop_words('en')
list = ['london']
stop_words.extend(list)
weather = [' avalanche', 'balmy', 'black ice', 'blizzard', 'blustery', 'breeze', 'cloud', 'cloudy', 'cold', 'condensation', 'dew'
, 'downburst', 'downpour', 'drizzle', 'drought', 'dry', 'flood','fog', 'forecast', 'freeze', 'freezing', 'frost', 'gale', 'gust'
, 'gustnado', 'hail', 'haze', 'heat', 'heatwave', 'humid', 'humidity', 'hurricane', 'ice', 'icicle', 'lightning', 'mist', 'muggy'\
, 'overcast', 'permafrost', 'rain', 'rainbands', 'rainbow', 'sandstorm', 'sleet', 'slush', 'smog', 'snow', 'snowstorm', 'storm'\
, 'summer', 'sunrise', 'sunset', 'temperature', 'thaw', 'thunder', 'thunderstorm', 'tropical', 'visibility', 'warm', 'weather', 'wind', 'winter']
weather.extend(list)

In [66]:
s = pd.Series(' '.join(frame['text']).lower().split())

In [67]:
cnt = Counter()
def filterbyword(stop_words, weather):
    for word in stop_words:
        if word.lower() in stop_words: cnt[word] == 0
    for word in weather:
        if word.lower() in weather: cnt[word] == 1

In [68]:
sclean = DataFrame(t for t in s if t.lower() not in stop_words)

In [69]:
sclean2 = Series(t for t in s if t.lower() in weather)

In [70]:
sclean2.value_counts()

london          3397
summer           555
weather          391
storm            264
rain             167
wind             116
cold             116
winter           115
temperature      101
fog               97
cloudy            97
humidity          92
ice               64
sunrise           60
warm              59
forecast          52
overcast          49
cloud             46
dry               42
sunset            42
snow              34
mist              29
tropical          23
heat              22
rainbow           22
smog              21
thunder           17
flood             17
freezing          13
haze               9
lightning          8
hail               7
thunderstorm       7
heatwave           5
gale               3
frost              3
dew                2
freeze             2
drought            2
visibility         1
muggy              1
breeze             1
drizzle            1
downpour           1
dtype: int64

In [71]:
cnt = DataFrame(sclean2.value_counts()) #The words and frequency of their occurance is put into a dataFrame
cnt2 = cnt.reset_index(drop=False) #The index was on the words, so we re-index
cnt3 = cnt2.rename(columns={'index':'Words', 0: 'Frequency'})
cnt3.head()

     Words  Frequency
0   london       3397
1   summer        555
2  weather        391
3    storm        264
4     rain        167

In [72]:
cnt3['Rank'] = cnt3['Frequency'].rank(ascending=0)
cnt3 #The words are now ranked

           Words  Frequency  Rank
0         london       3397   1.0
1         summer        555   2.0
2        weather        391   3.0
3          storm        264   4.0
4           rain        167   5.0
5           wind        116   6.5
6           cold        116   6.5
7         winter        115   8.0
8    temperature        101   9.0
9            fog         97  10.5
10        cloudy         97  10.5
11      humidity         92  12.0
12           ice         64  13.0
13       sunrise         60  14.0
14          warm         59  15.0
15      forecast         52  16.0
16      overcast         49  17.0
17         cloud         46  18.0
18           dry         42  19.5
19        sunset         42  19.5
20          snow         34  21.0
21          mist         29  22.0
22      tropical         23  23.0
23          heat         22  24.5
24       rainbow         22  24.5
25          smog         21  26.0
26       thunder         17  27.5
27         flood         17  27.5
28      freezing         13  29.0
29          haze          9  30.0
30     lightning          8  31.0
31          hail          7  32.5
32  thunderstorm          7  32.5
33      heatwave          5  34.0
34          gale          3  35.5
35         frost          3  35.5
36           dew          2  38.0
37        freeze          2  38.0
38       drought          2  38.0
39    visibility          1  42.0
40         muggy          1  42.0
41        breeze          1  42.0
42       drizzle          1  42.0
43      downpour          1  42.0